<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/css/style.css">
    <title>TripBucket</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="sidebar-view">
        <div>
            <side><%- body %></side>
        </div>
        <main>
            <div id='map' style='width: 100%; height: 100vw;'></div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        // parse trip
        let trip = JSON.parse('<%- trip%>')
    
        mapboxgl.accessToken  = '<%= process.env.MAPBOX_ACCESS_TOKEN %>'
        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 10 // starting zoom
        });
    
        //  add markers
        if (trip.places_to_visit.length > 0) {
            trip.places_to_visit.forEach((pin) => {
                let marker = new mapboxgl.Marker({
                    color: "#F05441"
                }).setLngLat([pin.long, pin.lat])
                .setPopup(new mapboxgl.Popup().setHTML(`<h1>${pin.title}</h1><p>${pin.description}</p>`)) 
                .addTo(map);
            })
        }
    </script>
</body>
</html>