<div>
    <h1>Edit Trip</h1>
    <form action="/trips/<%= JSON.parse(trip)._id%>?_method=PUT" method='post'>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= JSON.parse(trip).name%>">
        <label for="startDate">Start date</label>
        <input type="date" name="start_date" id="startDate" value="<%= JSON.parse(trip).start_date%>" format="mm/dd/yyyy">
        <label for="endDate">End date</label>
        <input type="date" name="end_date" id="endDate" value="<%= JSON.parse(trip).end_date%>" format="mm/dd/yyyy">
        <label for="citiesToVisit">Cities to Visit</label>
        <input type="text" name="cities_to_visit" id="citiesToVisit" value="<%= JSON.parse(trip).cities_to_visit%>">
        <input type="submit" value="Save Trip">
    </form>
</div>