<div>
    <h1>Edit Trip</h1>
    <a href="/trips">Cancel</a>
    <form action="/trips/<%= JSON.parse(trip)._id%>?_method=PUT" method='post'>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= JSON.parse(trip).name%>">
        <label for="startDate">Start date</label>
        <input type="date" name="start_date" id="startDate" value="<%= start_date%>" format="mm/dd/yyyy">
        <label for="endDate">End date</label>
        <input type="date" name="end_date" id="endDate" value="<%= end_date%>" format="mm/dd/yyyy">
        <input type="submit" value="Save Trip">
    </form>
    <% JSON.parse(trip).places_to_visit.forEach((place) => { %>
        <p><%= place.title %></p>
        <form action="/trips/<%= JSON.parse(trip)._id%>/removePlace?_method=PATCH" method="POST">
            <input type="hidden" name="place_id" value="<%= place._id%>">
            <button class="btn btn-outline-danger" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                Delete
            </button>
        </form>
    <%})%>
</div>